.btn
{
    padding: 10px 20px;
    margin: 10px 20px;
    border: solid 1px rgb(40, 74, 63);
    border-radius: 10px;
}

.primary
{
    background-color: rgb(139, 176, 219);
    border: solid 1px rgb(4, 24, 84);
}

.error
{
    background-color: rgb(219, 139, 139);
    border: solid 1px rgb(147, 18, 12);
}

.warning
{
    background-color: rgb(235, 229, 171);
    border: solid 1px rgb(112, 95, 9);
}

.success
{
    background-color: rgb(147, 232, 176);
    border: solid 1px rgb(11, 90, 11);
}